<nav id="navbar" class="navbar navbar">
    <div class="container">
        <div class="navbar-header">
            <!--the href link acts as a home button and needs to be linked to an html-->
            <a id="navtext" class="navbar-brand" href="/index">BUILD-A-DATE</a>
            <p class="navbar-brand"> || </p>
            <a id="navtext" class="navbar-brand" href="/logout">LOGOUT</a>
            <p class="navbar-brand"> || </p>
            <a id="navtext" class="navbar-brand" href="/dates">YOUR DATES</a>
        </div>
    </div>
</nav>



<div id="container" class="container-fluid bg-1 text-center">
    <h3 class="margin" id="member-name">Welcome, </h3>
    <h3 class="margin">Here are your saved dates:</h3>
    <span style="display: none;" id="userId"></span>

</div>

<br><br>

<div id="container" class="container-fluid bg-1 text-center">
    <div>
        {{#each dates}}
        <h4 class="margin">Day of Date: {{this.dataValues.day}}</h4>
        <p class="margin">Entertainment: {{this.dataValues.movie}}</p>
        <p class="margin">Food: {{this.dataValues.recipe}}</p>
        <p class="margin" style="display: none;">Date Id: {{this.dataValues.id}}</p>
        <p class="margin">Completed: {{this.dataValues.completed}}</p>
        <button class="btn btn-lg update" id="{{this.dataValues.id}}">Go On Date</button><button class="btn btn-lg delete" id = "{{this.dataValues.id}}">Delete Date</button>
        <br><br>
        {{/each}}
    </div>

</div>

<br><br>

<footer class="container-fluid bg-4 text-center">
    <p>Website made by Date-A-Base</p>
    <i class="bi bi-heart"></i>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
        viewBox="0 0 16 16">
        <path
            d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
    </svg>
</footer>

<script type="text/javascript" src="/js/viewDates.js"></script>